site_name: CubeSat Resources
site_url: https://cubesat-resources.space
repo_url: https://github.com/buildacubesat/CubeSat-Resources
edit_uri: edit/main/docs/
site_description: Curated resources for CubeSat development
site_author: Manuel Imboden (buildacubesat.space)

theme:
  name: material
  locale: en
  features:
    - navigation.tabs
    - navigation.top
    - content.action.edit
    - content.icons
    - content.tasklist
  icon:
    logo: material/cube-outline
  palette:
    - scheme: default
      primary: grey
      accent: blue-grey
      media: "(prefers-color-scheme: light)"
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: grey
      accent: blue-grey
      media: "(prefers-color-scheme: dark)"
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

plugins:
  - search
  - awesome-nav
  - git-revision-date-localized:
      fallback_to_build_date: true
      enable_creation_date: false
      locale: en
      type: timeago

markdown_extensions:
  - admonition
  - footnotes
  - def_list
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: true
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/buildacubesat/CubeSat-Resources
